{% extends "base.html" %}

{% block content %}
    <h1>Add</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text_jp.label }}<br>
            {{ form.text_jp(size=32) }}<br>
            {% for error in form.text_jp.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.text_en.label }}<br>
            {{ form.text_en(size=64) }}<br>
            {% for error in form.text_en.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=32) }}<br>
            {% for error in form.notes.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
