{% extends "base.html" %}

{% block content %}


    <br/>
    {% if show_all %}
    <div class="card text-white bg-primary">
        <div class="card-body">
            <h4 class="card-title">Japanese Language Diary / 日本語の日記</h4>
            <p class="card-text">This site is intended as a way to practice writing regular sentences in Japanese. This
                page lists all sentences for all users - click on a user to view only their contributions.</p>
        </div>
    </div>
    {% endif %}

    {% for post, user in posts %}
    <div class="row" style="padding: 15px">
        <div class="card" style="width: 100%;">
            <div class="card-header">
                #{{post.id}}
                <span class="text-muted" style="float: right">
                    {% if user.id == current_user.id %}
                    <span class="badge badge-primary"><a href="{{ url_for('user', id=user.id) }}">{{ user.username }}</a></span>
                    {% else %}
                    <span class="badge badge-secondary"><a href="{{ url_for('user', id=user.id) }}">{{ user.username }}</a></span>
                    {% endif %} | {{ post.timestamp | humanize }}</a>
                </span>
            </div>
            <div class="card-body">


                <p class="card-text">
                    <b>jp:</b> {{ post.text_jp }}<br/>
                    <b>en:</b> <span class="text_en">{{ post.text_en }}</span><br/>
                    {% if post.notes %}
                    <b>notes:</b> {{ post.notes }}<br/>
                    {% endif %}
                </p>
            </div>


            <div class="card-footer">
                <small>
                    <a class="text-dark" href="https://www.deepl.com/translator#ja/en/{{ post.text_jp }}">DeepL</a>
                    | <a class="text-dark" href="https://translate.google.com/?sl=jp&tl=en&text={{ post.text_jp }}&op=translate">Google Translate</a>
                    | <a class="text-dark" href="https://jisho.org/search/{{ post.text_jp }}">Jisho</a>
                    {% if current_user.username == user.username %}
                    | <a class="text-info" href="{{ url_for('edit', id=post.id) }}">edit post</a>
                    | <a class="text-danger" href="{{ url_for('delete', id=post.id) }}">delete post</a>
                    {% endif %}
                </small>
            </div>


        </div>
    </div>
    {% endfor %}
    {{ pagination.links }}
{% endblock %}
