{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    <h1>Sentences</h1>
    {% if current_user.is_anonymous %}
    <h2>Welcome Guest</h2>
    {% else %}
    <h2>Welcome "{{ current_user.username }}"</h2>
    {% endif %}

    {% for post, user in posts %}
    <div class="row" style="padding: 15px">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h4 class="card-title">user: {{ user.username }}</h4>

                <p class="card-text">
                    <b>date</b>: {{ post.timestamp }}<br/>
                    <b>jp:</b> {{ post.text_jp }}<br/>
                    <b>en:</b> {{ post.text_en }}<br/>
                    {% if post.notes %}
                    <b>notes:</b> {{ post.notes }}<br/>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
